<h1>Bonjour et bienvenu !</h1>

<p>
    Vous recevez ce mail car vous venez de vous inscrire sur le site de l'Urban Fight !<br>
    Par mesure de sécurité nous attendons que vous confirmiez votre adresse afin de nous assurer de votre identité.<br>

    C'est très simple cliquez sur ce lien :<br>
    <a href="{{ uri }}">Je confirme mon email</a>.

    Ce lien expire le {{ expiresAt | format_datetime }}. <br>

    En cas de problème vous pouvez envoyer un message à: <br>
    <a href="mailto:admin@urbanfight.com">adminUrbanFight@gmail.com</a>
</p>

<p>
    Au nom de toute l'équipe soyez le ou la bienvenu(e) <i class="far fa-laugh-beam"></i>
</p>
