{% extends 'base.html.twig' %}
{% block title %}Physique{% endblock %}

{% block body %}
    {% include '/shared/header.html.twig' %}
    <div class="tour-place physical">
        <div class="text-center" style="margin-bottom: 4%">
            {{ include('shared/toast.html.twig') }}
            <h1 class="text-center">Pourquoi la self-défense doit aussi s'axer aussi sur le physique ?</h1>
            <p>Vous connaissez peut-être la phrase: <em><q>Sans maîtrise la puissance n'est
                        rien.</q></em><br>
                Et bien en self défense nous pourrions dire: <em><q>Sans condition physique la technique
                        n'est rien</q></em><br>
                Ainsi afin de pouvoir faire face à la majorité des situations, cinq aptitudes physiques
                doivent être développées.</p>
        </div>
        <div class="body-container">
            <section class="single-place mix">
                <figure class="place-img" style="position: relative">
                    <img src="img/urban-12.jpg" alt="boxeur" class="img-responsive">
                    <div class="place-info ">
                        <div class="place-info-intro">
                            <h2 class="text-center">Les cinq aptitudes développées</h2>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                <strong>Courir:</strong> Il est important d’être en mesure de fuir un agresseur, même
                                après le combat, ou pour éviter un danger (endurance).
                            </li>
                            <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                <strong>Sauter:</strong> Dans votre fuite, surtout en milieu naturel, vous rencontrerez
                                peut-être des obstacles comme des troncs d’arbre,
                                des branches.Il faudra savoir sauter par-dessus pour les
                                franchir.
                            </li>
                            <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                <strong>Grimper:</strong> Certains obstacles (ex: grilles doivent être escaladées pour
                                fuir.
                            </li>
                            <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                <strong>Ramper:</strong> Dans les modules plus avancés, nous traiterons de situations de
                                crise, comme les prises d’otages,
                                dans lesquelles vous pourriez avoir à ramper pour vous
                                échapper.
                            </li>
                            <li class="list-group-item"><i class="fas fa-long-arrow-alt-right"></i>
                                <strong>Tomber:</strong> Le combat se fini souvent au sol. Il est important de savoir
                                chuter <b>sans se blesser,</b> pour ne pas être désavantagé.
                            </li>
                        </ul>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img" style="position: relative">
                    <img src="img/urban-13.jpg" alt="poids de musculation" class="img-responsive">
                    <div class="place-info ">
                        <div class="col-lg-6 place-info-intro">
                            <h2 class="text-center">Les cinq qualités développées</h2>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item"><i class="fas fa-running fa-2x" style="color: blue"></i>
                                <span style="color: blue">Endurance:</span> le combat, la fuite, peuvent être très
                                éprouvants physiquement. Il faut pouvoir
                                faire
                                face.
                            </li>
                            <li class="list-group-item"><i class="fas fa-bomb" style="color: red"></i>
                                <span style="color: red">Explosivité:</span> la rapidité de votre riposte doit
                                surprendre
                                votre agresseur.
                            </li>
                            <li class="list-group-item"><i class="fas fa-brain" style="color: purple"></i>
                                <span style="color: purple">Mental:</span> si vous n’êtes pas prêt au pire, si vous avez
                                peur des coups ou de faire mal, vous serez
                                paralysé et vous subirez la menace.
                            </li>
                            <li class="list-group-item"><i class="fas fa-sync" style="color: gold"></i>
                                <span style="color: gold">Fluidité:</span> enchaîner les ripostes sans hésitation est
                                important pour assurer une auto-défense
                                optimale.
                            </li>
                            <li class="list-group-item"><i class="fas fa-dumbbell" style="color: limegreen"></i>
                                <span style="color: limegreen">Résistance:</span> vous ne pourrez pas survivre ou vous
                                défendre
                                sans apprendre à encaisser et à gérer
                                la
                                douleur ou la difficulté.
                            </li>
                        </ul>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img" style="position: relative">
                    <img src="img/urban-14.jpg" alt="chaines" class="img-responsive">
                    <div class="place-info">
                        <div class="col-lg-8 place-info-intro">
                            <h2 class="text-center">Les contraintes</h2>
                            <p>Notre défense va aussi être impactée par cinqs contraintes.
                                En fonction de leur niveau, les élèves seront en
                                mesure de s’adapter à ces contraintes.
                            </p>
                        </div>
                        <ul class="list-group">
                            <li class="list-group-item" style="background-color: black; color: red">
                                <i class="fas fa-user-md" style="color: white"></i>
                                Physique: maladie, blessure, fatigue.
                            </li>
                            <li class="list-group-item" style="background-color: black; color: red">
                                <i class="fas fa-house-user" style="color: white"></i>
                                Espace restreint étroit, hauteur limitée, ascenseur.
                            </li>
                            <li class="list-group-item" style="background-color: black; color: red">
                                <i class="far fa-snowflake" style="color: white"></i>
                                Sol difficile: boue, verglas, pente, gravier.
                            </li>
                            <li class="list-group-item" style="background-color: black; color: red">
                                <i class="fas fa-eye-slash" style="color: white"></i>
                                Vision: chutes de neige, de nuit, brouillard.
                            </li>
                            <li class="list-group-item" style="background-color: black; color: red">
                                <i class="fas fa-chair" style="color: white"></i>
                                Espace encombré par du mobilier exemples: dans une restaurant, un cinéma, un bar etc.
                            </li>
                        </ul>
                    </div>
                </figure>
            </section>
        </div>
    </div>

{% endblock %}