{% extends 'base.html.twig' %}
{% block title %}Niveaux{% endblock %}

{% block body %}
    {% include '/shared/header.html.twig' %}
    <div class="col-lg-10 container tour-place">
        <div class="text-center" style="margin-bottom: 3%;">
            {{ include('shared/toast.html.twig') }}
            <h1>Pourquoi des niveaux en self-défense ?</h1>
            <p class="level col-lg-11">Notre concept couvre tous les aspects de la défense
                personnelle. <br> Cependant, étant donné que
                nous n'évoluons pas tous dans le
                même
                milieu
                et que chaque pratiquant n'a pas
                forcément
                les mêmes objectifs, l'Urban
                Fight est structuré en plusieurs
                niveaux.
                <br>
                Ils couvrent un périmètre en
                développant
                plusieurs capacités qui, par la
                suite,
                seront
                complémentaires des niveaux
                supérieurs.

                Vous trouverez ci-dessous le contenu pour chaque niveau.
            </p>
        </div>
        <div class="body-container">
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-6.jpg" alt="technique de défense" class="img-responsive">
                    <div class="place-info ">
                        <ul class="list-group text-center level-list-intro">
                            <li class="list-group-item list-group-item-success"><i
                                        class="fas fa-long-arrow-alt-right"></i>
                                <a href="#protector"> NIVEAU PROTECTOR</a>
                            </li>
                            <li class="list-group-item list-group-item-info">
                                <i class="fas fa-long-arrow-alt-right"></i>
                                <a href="#destructor">NIVEAU DESTRUCTOR</a>
                            </li>
                            <li class="list-group-item list-group-item-warning"><i
                                        class="fas fa-long-arrow-alt-right"></i>
                                <a href="#predator">NIVEAU PREDATOR</a>
                            </li>
                            <li class="list-group-item list-group-item-danger"><i
                                        class="fas fa-long-arrow-alt-right"></i>
                                <a href="#survivor">NIVEAU SURVIVOR</a>
                            </li>
                            <li class="list-group-item" style="background-color: #0c1923; color: white"><i
                                        class="fas fa-long-arrow-alt-right"></i>
                                <a class="text-white" href="#predator">NIVEAU OPERATOR</a>
                            </li>
                        </ul>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-7.jpg" alt="technique de défense" class="img-responsive">
                    <div class="place-info place-info-protector">
                        <div id="protector">
                            <h4 class="text-center">Niveau protector</h4>

                            <ul class="level-list-protector">
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Toutes les bases pour augmenter sa sécurité et celle de de sa famille.
                                    La sécurité informatique, la protection des données, les moyens de sécuriser son
                                    domicile,
                                    assurer sa vigilance et mettre en place l'évitement de situations dangereuses.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Se protéger grâce au trois types de gardes dites "BUNKER".
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Connaîtres les règles de l’Urban Fight , les niveaux de vigilance , les modes de
                                    combat.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Effectuer une préparation mentale. Ne pas être déstabilisé par les cris et la
                                    violence
                                    de l’agresseur.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Les bases de la défense dans une voiture avec des armes improvisées et survivre face
                                    à
                                    un couteau.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Les techniques d’ACT (prise d’initiative) et de PACT (défense sur une attaque).
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Des exemples d’enseignements sur le profilage d’une agression,comment venir en aide
                                    à
                                    une personne agressée, comment se décaler
                                    après chaque frappe, la désescalade, la dissuader, savoir chuter et « shredder ».
                                </li>
                            </ul>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-8.jpg" alt="technique de défense" class="img-responsive">
                    <div class="place-info place-info-destructor">
                        <div id="destructor">
                            <h4 class="text-center">Niveau destructor</h4>

                            <ul class="level-list-destructor">
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    La logique est plus offensive et plus agressive. Pour une protection active qui
                                    détruit
                                    en même temps.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Un niveau d'A.C.T et de P.A.C.T plus poussé (voir niveau <a
                                            href="#protector">protector</a>).
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Savoir porter secours à une personne agressée.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Savoir amener au sol et contrôler.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Savoir se défendre contre plusieurs agresseurs.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Les bases de la boxe, de la lutte et du combat au sol.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Quelques exemples d’enseignements comme: se défendre au sol, contre un adversaire
                                    debout, contre un couteau un bâton, une arme à feu, un chien, depuis une position
                                    assise.
                                </li>
                            </ul>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-9.jpg" alt="technique de défense" class="img-responsive">
                    <div class="place-info place-info-predator">
                        <div id="predator">
                            <h4 class="text-center">Niveau predator</h4>

                            <ul class="level-list-predator">
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Niveau A.C.T et P.A.C.T (voir niveau
                                    <a href="#protector">protector</a>)<b>avancé.</b>
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Savoir manier le couteau et le bâton en cas de besoin contre un adversaire armé.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Savoir utiliser un objet usuel pour se défendre.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Avoir des connaissances plus poussées sur la psychologie de l’agression
                                    et être capable de se mettre à la place de l’agresseur.

                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Des exemples d’enseignements: se dissimuler et tendre une embuscade, des exercices
                                    de
                                    nuit, dans un lieu enfumé.
                            </ul>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-10.jpg" alt="technique de défense" class="img-responsive">
                    <div class="place-info place-info-survivor">
                        <div id="survivor">
                            <h4 class="text-center">Niveau survivor</h4>

                            <ul class="level-list-survivor">
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Il vous sera enseigner les bases de la survie, secourisme, survie en pleine nature,
                                    catastrophes, accident , attentat.
                                    <br>
                                    Exemples d’enseignements: sortir d’une voiture tombée à l’eau, que faire en cas de
                                    blessure par arme banche ou par balle, comment allumer un feu,
                                    gérer l’absence d’électricité dans sa maison, s’orienter.
                                </li>
                            </ul>
                        </div>
                    </div>
                </figure>
            </section>
            <section class="single-place mix">
                <figure class="place-img">
                    <img src="img/urban-11.jpg" alt="technique de défense" class="img-responsive">
                    <div class="place-info place-info-operator">
                        <div id="operator">
                            <h4 class="text-center">Niveau operator</h4>

                            <ul class="level-list-operator">
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Niveau réservé aux professionnels de la sécurité.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Maniement d'armes à feu et tir.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Protection rapprochée.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Les bases de la négociation de crise.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    Le combat aquatique.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    <u>Ligne verte</u> : techniques militaires comme l'art ducamouflage, savoir utiliser
                                    une
                                    pelle comme arme, attaquer une sentinelle,
                                    combattre en portant un équipement militaire.
                                </li>
                                <li><i class="fas fa-long-arrow-alt-right"></i>
                                    <u>Ligne bleue</u> : techniques pour Policiers et Gendarmes. <br>
                                    Exemples: contrôle de personnes, menottage et conduite d'un
                                    prisonnier, techniques de contrôle d’un véhicule et d’extraction
                                    d’un
                                    individu hors du véhicule,
                                    inspection de locaux, combattre en portant du matériel
                                    d’intervention.
                                </li>
                            </ul>
                        </div>
                    </div>
                </figure>
            </section>
        </div>
    </div>

{% endblock %}


