{% extends 'base.html.twig' %}
{% block title %}Psychologie{% endblock %}

{% block body %}
    {% include '/shared/header.html.twig' %}
    <div class="tour-place psycho">
    <div class="text-center" style="margin-bottom: 4%">
        {{ include('shared/toast.html.twig') }}
        <h1 class="text-center">L'importance de l'approche psychologique dans la self-défense</h1>
        <p>Souvent en faisant preuve d'un peu de réflexion nous pouvons comprendre la situation et ses enjeux. <br>
            Désamorçant instantanément une situation qui, sinon aurait dégénérer.
        </p>
    </div>
    <div class="body-container">
        <section class="single-place mix psycho">
            <figure class="place-img">
                <img src="img/urban-1.jpg" alt="self-defense" class="img-responsive">
                <div class="container place-info">
                    <div class="place-info-intro">
                        <h2 class="text-center">Les trois types d'agressions </h2>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item" style="background-color: #0c1923; color: white">
                            <b>L'agression motivée</b> <i class="fas fa-long-arrow-alt-right"></i> la plus
                            violente.
                            Préméditée.
                            Quand on s’y
                            attend le
                            moins.Il n'y
                            a rien à
                            faire, au
                            risque de
                            devenir
                            paranoïaque.
                            <br><u>Ex</u>: viol, vengeance…
                        </li>
                        <li class="list-group-item list-group-item-danger">
                            <b>L'agression justifiée</b> <i class="fas fa-long-arrow-alt-right"></i> sans
                            raison:
                            pour
                            s’amuser,
                            se
                            défouler,
                            faire le
                            malin,
                            verbale ou
                            physique.
                            Liée à un
                            faux
                            prétexte.
                            <br><u>Ex</u>: un regard de travers, du racket<i
                                    class="fas fa-long-arrow-alt-right"></i>
                            Vigilance
                            orange
                            voire.
                            Attitude
                            lévrier ou
                            renard
                            (cela
                            déstabilise
                            l'agresseur
                            qui ne
                            s’attend à
                            ce qu’on
                            ait peur:
                            posez des
                            questions).
                        </li>
                        <li class="list-group-item list-group-item-warning">
                            <b>L'agression injustifiée</b> <i class="fas fa-long-arrow-alt-right"></i>L’agresseur
                            pense
                            qu’il est
                            une
                            victime et
                            son
                            agressivité
                            justifiée.
                            Verbale ou
                            physique.
                            <br><u>Ex</u>: queue de poisson, regard sur sa femme <i
                                    class="fas fa-long-arrow-alt-right"></i>Vigilance orange voire rouge.
                            Pour
                            désamorcer,
                            on va
                            reformuler
                            ce qui est
                            dit
                            (preuve
                            d’écoute)
                            puis faire
                            preuve
                            d’empathie.
                        </li>
                    </ul>
                </div>
            </figure>
        </section>
        <section class="single-place mix psycho">
            <figure class="place-img">
                <img src="img/urban-2.jpg" alt="self-defense" class="img-responsive">
                <div class="place-info">
                    <div class="place-info-intro">
                        <h2 class="text-center">Les cinq types de vigilance </h2>

                        <p style="text-align: center">Il existe 5 niveaux de vigilance qu'il faut adapter à la
                            situation
                            pour limiter l’effet
                            de surprise en cas d’agression ou de danger.</p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <b>Niveau 1</b> <i class="fas fa-long-arrow-alt-right"></i> Chez vous, chez des
                            amis… ou
                            tout lieu où vous êtes
                            en
                            sécurité et où vous
                            n’avez
                            pas besoin d’être
                            vigilant.
                        </li>

                        <li class="list-group-item list-group-item-info">
                            <b>Niveau 2</b> <i class="fas fa-long-arrow-alt-right"></i> Attention: dès que l’on
                            sort, il faut être
                            attentif
                            à ce qui nous entour et
                            prêter attention
                            à l’environnement où
                            l’on
                            évolue.
                        </li>

                        <li class="list-group-item list-group-item-warning">
                            <b>Niveau 3</b> <i class="fas fa-long-arrow-alt-right"></i> Danger potentiel:
                            Situations
                            qui peuvent ou non
                            dégénérer
                            en conflit (Ex:
                            quelqu’un
                            qui vous dévisage).<br>
                            Se préparer à
                            l’éventualité
                            d’un conflit. (surprise
                            =
                            DANGER)
                        </li>

                        <li class="list-group-item list-group-item-danger">
                            <b>Niveau 4</b> <i class="fas fa-long-arrow-alt-right"></i> Préparation: Insultes,
                            provocations,
                            agressivité
                            mais sans échange de
                            coups:
                            essayer de désamorcer
                            puis
                            anticiper avec ACT, si
                            besoin.
                        </li>

                        <li class="list-group-item" style="background-color: #0c1923; color: white">
                            <b>Niveau 5</b> <i class="fas fa-long-arrow-alt-right"></i> Contrer l’effet <a
                                    href="#">tunnel</a>:
                            Rester lucide dans le
                            combat
                            et ne pas le subir.
                        </li>

                    </ul>
                </div>
            </figure>
        </section>
        <section class="single-place mix psycho">
            <figure class="place-img">
                <img src="img/urban-3.jpg" alt="self-defense" class="img-responsive">
                <div class="place-info">
                    <div class="place-info-intro">
                        <h2 class="text-center">Les cinq étapes de résolution </h2>

                        <p style="text-align: center"><q>La vigilance n’empêche pas le conflit.</q>
                            Pour résoudre un conflit, voici une procédure en 5 étapes.
                        </p>
                    </div>
                    <ul class="list-group">
                        <li class="list-group-item list-group-item-success">
                            <i class="fas fa-shield-alt"></i> <b>Se protéger:</b> être en garde sans que
                            l’agresseur
                            le voit.

                        <li class="list-group-item list-group-item-info">
                            <i class="fas fa-running"></i> <b>S’éloigner:</b> garder une distance de sécurité
                            pour
                            ne pas entrer dans la <a
                                    href="#">bulle de sang.</a>
                        </li>

                        <li class="list-group-item list-group-item-warning">
                            <i class="fas fa-cogs"></i> <b>Analyser:</b> analyser l’agresseur (a-t-il une arme,
                            est-il seul ?) ainsi que
                            l’environnement.
                            Niveau de vigilance: jaune, orange ou
                            rouge.

                        </li>

                        <li class="list-group-item list-group-item-danger">
                            <i class="fas fa-bomb"></i> <b>Désamorcer:</b> poser des questions pour calmer,
                            dissuader en élevant le ton et en
                            jouant
                            le déséquilibré. Mode de combat:
                            lévrier,
                            renard ou chien.
                        </li>

                        <li class="list-group-item" style="background-color: #0c1923; color: white">
                            <i class="fas fa-fist-raised"></i> <b>Anticiper:</b> le premier qui frappe a un
                            avantage, utilisation de ACT
                            voire
                            PACT.
                            Niveau de vigilance: noir.
                            Mode de fight: lion.

                        </li>
                    </ul>
                </div>
            </figure>
        </section>
        <section class="single-place mix psycho">
            <figure class="place-img">
                <img src="img/urban-4.jpg" alt="self-defense" class="img-responsive">
                <div class="place-info">
                    <div class="container col-lg-4 col-sm-5 place-info-intro">
                        <h2 class="text-center">Les quatre postures</h2>
                        <p style="text-align: center">On peut adopter 4 postures face à la menace.
                            Lors d’un même conflit, plusieurs sont possibles.
                        </p>
                    </div>
                    <div class="container col-lg-8" id="media-list">
                        <div class="media d-flex align-items-center">
                            <div class="media-left media-middle">
                                <img class="media-object mr-3" data-src="holder.js/64x64" alt="hare" src="img/hare.jpg" data-holder-rendered="true" style="width: 100px; height: 80px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Le lièvre</h4>
                                <p>Éviter ou ignorer le conflit, fuir</p>
                            </div>
                        </div>
                        <div class="media d-flex align-items-center">
                            <div class="media-left media-middle">
                                <img class="media-object mr-3" data-src="holder.js/64x64" alt="fox" src="img/fox.jpg" data-holder-rendered="true" style="width: 100px; height: 80px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Le renard</h4>
                                <p>Essayer de désamorcer le conflit, utilisation de la communication non-violente et de l’empathie.</p>
                            </div>
                        </div>
                        <div class="media d-flex align-items-center">
                            <div class="media-left media-middle">
                                <img class="media-object mr-3" data-src="holder.js/64x64" alt="dog" src="img/dog.jpg" data-holder-rendered="true" style="width: 100px; height: 90px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);">
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading">Le chien</h4>
                                <p>Dissuader, comme un chien qui aboie avant de mordre. <br>
                                    Essayer de faire peur <i class="fas fa-long-arrow-alt-right"></i> se faire passer pour un fou, crier, jouer la comédie.
                                </p>
                            </div>
                        </div>
                        <div class="media d-flex align-items-center">
                            <div class="media-left media-middle">
                                <img class="media-object mr-3" data-src="holder.js/64x64" alt="lion" src="img/lion.jpg" data-holder-rendered="true" style="width: 100px; height: 90px; box-shadow: 0 1px 10px rgba(0, 0, 0, 0.9);">
                            </div>
                            <div class="media-body" style="padding-bottom: 20px">
                                <h4 class="media-heading">Le lion</h4>
                                <p>Anticiper avec ACT. <br>
                                    Dans la rue, l’initiative offensive est souvent un avantage pour l'issue d'un
                                    affrontement.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </figure>
        </section>
        <section class="single-place mix psycho">
            <figure class="place-img">
                <img src="img/urban-5.jpg" alt="self-defense" class="img-responsive">
                <div class="place-info">
                    <div class="place-info-intro">
                        <h2 class="text-center">Les paramètres pour adapter sa gestion du conflit </h2>
                        <p style="text-align: center">Il faudra prendre en compte le niveau de vigilance, mais aussi
                            à
                            la zone de
                            conflit.
                            <br>
                            La distance qui nous sépare de la menace doit être prise en
                            compte.</p>
                    </div>
                    <div>
                        <img src="img/zone.png" alt="zone-danger-self-défense" class="img-responsive" style="box-shadow: none;">
                    </div>
                </div>
            </figure>
        </section>
    </div>

{% endblock %}