<!-- footer area start -->
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-copyright text-center">
                    <p id="footer-text">Power By<a href="mailto:samuel.guichardon@icloud.com"> @Guichardon Samuel </a><br><em>2020-v1.0.0</em></p>
                </div>
            </div>
        </div>
        <a href="#" id="scrollUp"><i class="fa fa-angle-double-up"></i></a>
    </div>
</footer>
<!-- footer area end -->
